.bg-video{
    width: 100%;
    height:  70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-video video{
    width: 100%;
    height:  70vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
.video-text{
    z-index: 2;
    color: rgb(241, 137, 137);
}
.txt,
h1{
    color: rgb(241, 137, 137);
}
.adres-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-style: dotted;
    border-color: rgb(252, 164, 1);
}